#### Chi-Square Feature Selection

Chi-Square is to be used when the feature is categorical, the target variable is any way can be thought as categorical. It measures the degree of association between two categorical variables. If both are numeric, we can use Pearsonâ€™s product-moment correlation, and if the attribute is numerical and there are two classes we can use a t-test if more than two classes we can use ANOVA.

Chi-Square is best suited when:

- Categorical variables and targets 
- Variable value should not be non-negative, and typically boolean, frequencies, or count.

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

# to determine the chi2 value
from sklearn.feature_selection import chi2

# to select the features
from sklearn.feature_selection import SelectKBest

In [3]:
data = pd.read_csv('../datasets/titanic.csv')
print(data.shape)
data.head()

(1309, 14)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [4]:
# the categorical variables in the titanic are pclass, sex and embarked, first I will encode the labels of the categories into numbers

# for Sex / Gender
data['sex'] = np.where(data['sex'] == 'male', 1, 0)

# for Embarked
ordinal_label = {k: i for i, k in enumerate(data['embarked'].unique(), 0)}
data['embarked'] = data['embarked'].map(ordinal_label)

In [5]:
# separate train and test sets
X_train, X_test, y_train, y_test = train_test_split(
    data[['pclass', 'sex', 'embarked']],
    data['survived'],
    test_size=0.3,
    random_state=0
)

X_train.shape, X_test.shape

((916, 3), (393, 3))

In [6]:
X_train.columns

Index(['pclass', 'sex', 'embarked'], dtype='object')

In [7]:
# calculate the chi2 p_value between each of the variables
# and the target chi2 returns 2 arrays, one contains the F-Scores which are then evaluated against the chi2 distribution to obtain the pvalue.

# The pvalues are in the second array

scores = chi2(X_train.fillna(0), y_train)
scores

(array([27.18283095, 95.93492132,  8.51621324]),
 array([1.85095118e-07, 1.18722647e-22, 3.51996172e-03]))

In [9]:
# lets capture the p-value and create a DF
pvalues = pd.DataFrame(scores[1])
pvalues.index = X_train.columns
pvalues

                     0
pclass    1.850951e-07
sex       1.187226e-22
embarked  3.519962e-03

Contrarily to mutual information, where we were interested in the higher mutual information values, for the chi2, the smaller the p_value the more significant the feature is to predict the target.

Thus, from the result above, Sex is the most important feature, as it has the smallest p-value.

In this notebook, we used chi2 to determine the predictive value of 3 categorical variables only. If the dataset contained several categorical variables, we could then combine this procedure with SelectKBest or SelectPercentile, as we did in the previous notebook, to select the top k features, or the features in the top n percentile, based on the chi2 p-values.

*Select best from sci-kit learn*

In [11]:
sel_ = SelectKBest(chi2, k=2).fit(X_train, y_train)
# display features
X_train.columns[sel_.get_support()]

Index(['pclass', 'sex'], dtype='object')

In [12]:
# to remove the rest of the features:

X_train = sel_.transform(X_train)
X_test = sel_.transform(X_test)

In [14]:
X_train.shape

(916, 2)